@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    width: 100%;
    background: blue;
    color: white;
    text-align: center;
    padding: 30px;
}

#container {
    text-align: center;
}
.player {
    padding: 5px;
    margin: 10px;
}

#top {
    width: 100%;
    background: #2d4b53;
    color: white;
    text-align: center;
    padding: 30px;
}


#bottom {
    width: 100%;
    background: #2d4b53;
    color: white;
    text-align: center;
    padding: 30px;
}

#cannon {
    width: 8%;
    height: 75%;
}

#add-player {
    background: #006480;
    color: white;
    margin-bottom:10px;
}
 
.player {
    background: #006480;
    color: whitesmoke;
    border: solid, 6px;
    border-color: black;
    font-weight: bold;
}

img {
    width: 300px;
    height:200px;
}

#gifs {
    margin-left: 15%;
    margin-right: 15%;
}

.soccer {
    margin-left:25%;
    margin-right: 25%;
}

